# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @elkanroelen
accounts/abi                    @elkanroelen
consensus                       @elkanroelen
core/                           @elkanroelen
eth/                            @elkanroelen
les/                            @elkanroelen
light/                          @elkanroelen
mobile/                         @elkanroelen
p2p/                            @elkanroelen
whisper/                        @elkanroelen
